<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{%d{ABSOLUTE} [%c{1}] %-5p %m%n%throwable}" />
		</Console>
		<RollingFile name="RollingFile" fileName="target/logs/log4j2Test.log"
			filePattern="target/logs/$${date:yyyy-MM}/log4j2Test-%d{MM-dd}-%i.log.zip">
			<PatternLayout charset="UTF-8" pattern="%d [%c{1}] %-5p %m%n" />
			<SizeBasedTriggeringPolicy size="10 MB" />
			<DefaultRolloverStrategy max="50" />
		</RollingFile>
	</appenders>
	<loggers>
		<logger name="test" level="info" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</logger>
		<root level="warn">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration> 